body {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  background-color: #ffffff;
}
.general-wrapper-items {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.wrapper-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px 0px #0000001a;
  padding: 105px 90px;
}

.title-middle,
.title-middle-side {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.wrapper-project {
  margin-bottom: 50px;
}
.project-list {
  padding: 0;
  margin-left: 15px;
}
.project-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  color: #fb6d3a;
}

.project-link,
.project {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.project-link {
  margin-left: 10px;
}
.project-link:hover,
:focus {
  color: #fb6d3a;
}
.project {
  color: #595959;
}
.bracket {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  color: #fb6d3a;
}

.title-date {
  font-size: 12px;
  line-height: 1.2;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.wrapper-about {
  margin-bottom: 40px;
}
.title-middle.about {
  margin-bottom: 20px;
}
.about-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: normal;
  margin-bottom: 25px;
}
.about-description {
  font-size: 14px;
  line-height: 1.7;
  min-width: 400px;
}
.wrapper-organization {
  margin-bottom: 20px;
}
.wrapper-organization-block {
  margin-bottom: 50px;
}

.wrapper-education {
  margin-bottom: 20px;
}
.organization-list {
  padding: 0;
  margin-left: 15px;
}
.organization-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0em;
}

/* SIDEBAR */
.aside-wrapper {
  padding-top: 40px;
  width: 380px;
  background-image: linear-gradient(135deg, #f93105 0%, #9c0901 100%);
  /* background-image: linear-gradient(135deg, #034e5d 0%, #130018 100%); */
  /* background-image: linear-gradient(135deg, #ff420b 0%, #f5de01 100%); */
  /* background-image: linear-gradient(135deg, #090013 0%, #052f98 100%); */
}

.photo {
  width: 380px;
  margin-bottom: 50px;
  top: 80px;
  left: 40px;
}

.wrapper-contacts,
.wrapper-skills,
.wrapper-soft {
  margin-left: 45px;
}

.wrapper-contacts.bottom {
  margin-bottom: 50px;
}

.wrapper-skills.bottom {
  margin-bottom: 45px;
}

.wrapper-soft.bottom {
  padding-bottom: 45px;
}

.title-middle-side-white {
  margin-bottom: 15px;
  color: #ffffff;
}
.small-title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
.organization {
  color: #fb6d3a;
}

.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: #ffffff;
  opacity: 50%;
}
.contacts:hover {
  color: #fb6d3a;
}

.address {
  font-weight: 700;
  line-height: 1.7;
  text-align: left;
  margin-right: 7px;
  color: #ffffff;
}

.sidebar-list {
  padding: 0;
  margin-left: 15px;
}

.dots {
  color: #fb6d3a;
}

.skills {
  line-height: 1.7;
  text-align: left;
  color: #ffffff;
}
